{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/env",
          {
            "loose": false,
            "modules": "commonjs",
            "forceAllTransforms": true
          }
        ],
        "@babel/stage-2"
      ],
      "plugins": [
        ["@babel/transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "loose": false,
            "modules": "commonjs",
            "forceAllTransforms": true
          }
        ],
        "@babel/stage-2",
        "minify"
      ],
      "plugins": [
        ["@babel/transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ]
    }
  }
}
