{
  "env": {
    "es": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "browsers": [
                "ie >= 11"
              ]
            },
            "exclude": ["transform-async-to-generator", "transform-regenerator"],
            "loose": true,
            "modules": false,
            "forceAllTransforms": true
          }
        ]
      ],
      "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-function-sent",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-proposal-numeric-separator",
        "@babel/plugin-proposal-throw-expressions",

        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        ["@babel/plugin-proposal-class-properties", { "loose": false }],
        "@babel/plugin-proposal-json-strings"
      ]
    },
    "cjs": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "browsers": [
                "ie >= 11"
              ]
            },
            "loose": true,
            "modules": false,
            "forceAllTransforms": true
          }
        ]
      ],
      "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-function-sent",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-proposal-numeric-separator",
        "@babel/plugin-proposal-throw-expressions",

        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        ["@babel/plugin-proposal-class-properties", { "loose": false }],
        "@babel/plugin-proposal-json-strings",

        "@babel/plugin-transform-modules-commonjs",
        ["@babel/transform-runtime", {
        "regenerator": true
        }]
      ]
    },
    "umd": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "browsers": [
                "ie >= 11"
              ]
            },
            "loose": true,
            "modules": false,
            "forceAllTransforms": true
          }
        ]
      ],
      "plugins": [

        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-function-sent",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-proposal-numeric-separator",
        "@babel/plugin-proposal-throw-expressions",

        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        ["@babel/plugin-proposal-class-properties", { "loose": false }],
        "@babel/plugin-proposal-json-strings",

        "@babel/plugin-external-helpers"
      ]
    }
  }
}
